<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Books</h1>
    <form class="form-inline" action="/book" method="post">
        <input type="text" class="form-control" name="name" id="name"/>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${list}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">Test</td>
            <td>
                <div class="row">
                    <div class="col-md-1">
                        <a class="btn btn-primary" href="/book/1" th:href="@{/book/__${book.id}__}">Edit</a>
                    </div>
                    <div class="col-md-1">
                        <form class="form-inline" th:object="${book}" th:action="@{/book/__${book.id}__}" th:method="DELETE">
                            <button type="submit" class="btn btn-primary" value="Submit">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>